<body>
    <h1>Details</h1>
    <table>
        <tr>
            <td>Id</td>
            <td>@Model.BId</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>@Model.Author</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <td>Publication</td>
            <td>@Model.Publication</td>
        </tr>
    </table>
    <button class="btn btn-success"><a href="/Book/GetAll">Book List</a></button>
</body>