<body>
    <h1>Details</h1>
    <hr/>
    <table>
        <tr>
            <td>PId</td>
            <td>@Model.PId</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@Model.Type</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>@Model.Brand</td>
        </tr>
    </table>
    <button class="btn btn-info">  <a href="/Product/GetAll">Prodct List</a></button>
</body>