<body>
    <form action="/Product/Update" method="post">
        <label for="Id">Id</label>
        <input type="text" name="pid" value="@Model.PId" readonly required>

        <label for="name">Name</label>
        <input type="text" name="pid" value="@Model.Name"  required>

        <label for="price">Price</label>
        <input type="text" name="price" value="@Model.Price" required>

        <label for="brand">Brand</label>
        <input type="text" name="brand" value="@Model.Brand" required>

        <label for="type">Type</label>
        <input type="text" name="type" value="@Model.Type" required>

        <button type="submit">Update</button>
    </form>
</body>